{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="{{ url_for('user.register') }}">
        {{ form.csrf_token }}
        <table>
            <tr>
                <td>
                    {{ form.username.label }}
                </td>
                <td>
                    {{ form.username }}
                </td>
                {% if form.username.errors %}
                <td>
                <ul class="alert alert-danger" role="alert">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    {{ form.email.label }}
                </td>
                <td>
                    {{ form.email }}
                </td>
                {% if form.email.errors %}
                <td>
                <ul class="alert alert-danger" role="alert">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    {{ form.password.label }}
                </td>
                <td>
                    {{ form.password }}
                </td>
                {% if form.password.errors %}
                <td>
                <ul class="alert alert-danger" role="alert">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    {{ form.password_confirm.label }}
                </td>
                <td>
                    {{ form.password_confirm }}
                </td>
                {% if form.password_confirm.errors %}
                <td>
                <ul class="alert alert-danger" role="alert">
                    {% for error in form.password_confirm.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="submit" value="Register"/>
                </td>
            </tr>
    </form>
{% endblock %}