<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TodoApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TodoApp</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/tasks">Tasks</a>
          </div>
          <div class="navbar-nav mb-2 mb-lg-0">
          {% if not current_user.is_authenticated %}
              <a class="nav-link" href="/register">Register</a>
              <a class="nav-link" href="/login">Login</a>
          {% else %}
            <a class="nav-link" href="/account">{{ current_user.username }}</a>
            <form method="POST" action="{{ url_for('auth.logout') }}">
              {{ emptyform.csrf_token }}
              <input class="nav-link nav-item border-0 bg-light" type="submit" value="Logout"/>
            </form>
          {% endif %}
          </div>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>