{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="{{ url_for('task.create_task') }}">
        {{ form.csrf_token }}
        <table>
            <tr>
                <td>
                    {{ form.taskname.label }}
                </td>
                <td>
                    {{ form.taskname }}
                </td>
                {% if form.taskname.errors %}
                <td>
                <ul class="alert alert-danger" role="alert">
                    {% for error in form.taskname.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    {{ form.description.label }}
                </td>
                <td>
                    {{ form.description }}
                </td>
                {% if form.description.errors %}
                <td>
                <ul class="alert alert-danger" role="alert">
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="submit" value="Add task"/>
                </td>
            </tr>
    </form>
{% endblock %}