{% extends "layout.html" %}

{% block body %}
<div>
    <h1>Tasks</h1>
    <a class="btn btn-primary" href="/tasks/add" role="button">Add new task</a>
    <h2>Active tasks</h2>
    {% for task in current_user.tasks %}
    {% if not task.taskdone %}
        <div><a href="/tasks/{{task.id}}">{{ task.taskname }}</a></div>
    {% endif %}
    {% endfor %}
    <h2>Done</h2>
    {% for task in current_user.tasks %}
    {% if task.taskdone %}
        <div><a href="/tasks/{{task.id}}">{{ task.taskname }}</a></div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}