{% extends "layout.html" %}

{% block body %}
<div>
    <h1>{{ task.taskname }}</h1>
    {% if task.important %}
    <div class="btn btn-danger btn-sm">Important</div>
    {% endif %}
    {% if task.taskdone %}
    <div class="btn btn-success btn-sm">Done</div>
    {% endif %}
    <div>{{ task.description }}</div>
    <div>
        <form method="POST" action="{{ url_for('task.task_important', task_id=task.id) }}">
            {{ emptyform.csrf_token }}
            {% if task.important %}
            <input class="btn btn-primary" type="submit" value="Mark unimportant"/>
            {% else %}
            <input class="btn btn-primary" type="submit" value="Mark important"/>
            {% endif %}
        </form>
    </div>
    <div>
        <form method="POST" action="{{ url_for('task.task_done', task_id=task.id) }}">
            {{ emptyform.csrf_token }}
            {% if task.taskdone %}
            <input class="btn btn-primary" type="submit" value="Mark undone"/>
            {% else %}
            <input class="btn btn-primary" type="submit" value="Mark done"/>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}