{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.csrf_token }}
        <table>
            <tr>
                <td>
                    {{ form.username.label }}
                </td>
                <td>
                    {{ form.username }}
                </td>
                {% if form.username.errors %}
                <td>
                <ul class="alert alert-danger" role="alert">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    {{ form.password.label }}
                </td>
                <td>
                    {{ form.password }}
                </td>
                {% if form.password.errors %}
                <td>
                    <ul class="alert alert-danger" role="alert">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
            {% endif %}
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="submit" value="Login"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}